body {
  background-color: rgb(247, 214, 164);
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  margin-top: 50px;
  text-align: center;
}

ul {
  display: flex;
  padding: 0;
  margin: 100px 28% 30px;
}

li {
  justify-content: space-between;
  list-style: none;
  margin-right: 100px;
  font-size: 30px;
  border: 1px solid;
  border-radius: 5px;
  padding: 20px 50px;
}

a {
  text-decoration: none;
}

.intro p {
  margin: 60px 20%;
}